*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
uploads/common/*
output/
output/*
output
providers.json
*.deb
client/dist
admin/dist
.ssh
environment.json
node_modules
server/node_modules
client/node_modules
admin/node_modules
client/static/admin
client/static/Packages
client/static/Packages.gz
client/static/Packages.xz
client/static/Release
client/static/Packages.lzma
client/static/Packages.bz2
client/static/.next
client/.next/
client/.next
anayltics_key.json
docker/traefik/acme.json
dist/Packages*
dist/Packages
dist/Release
.env


