<style>
  .ql-snow b, strong {
    font-weight: bold !important;
  }

  .page-main .list-group {
    margin: 0;
    padding-right: 15px;
  }

  .list-group .avatar {
    width: 62px;
  }

  .list-group .card {
    margin-bottom: 15px;
  }

  .list-group .card-block {
    -webkit-transition: border .2s linear, color .2s linear, width .2s linear, background-color .2s linear;
    -o-transition: border .2s linear, color .2s linear, width .2s linear, background-color .2s linear;
    transition: border .2s linear, color .2s linear, width .2s linear, background-color .2s linear;
  }

  .list-group .card-block:hover {
    cursor: pointer;
    background-color: #eee;
  }

  .list-group .list-group-item, .list-group .list-group-item:hover {
    background-color: transparent;
  }

  .list-inline {
    height: 25px;
  }

  .list-inline li a:hover {
    text-decoration: none;
    color: #76838f !important;
  }

  .detail {
    background-color: #a2caee !important;
  }

  .page-content {
    height: 100%;
    overflow-y: auto;
  }

  .download-stat-section {
    border: 1px solid #e4eaec;
    border-left-color: transparent;
    border-right-color: transparent;
    overflow: hidden;
    padding: 15px;
  }

  .small-left-padding {
    padding-left: 5px;
  }

  .c-border-bottom {
    border: 1px solid #e4eaec;
    border-left-color: transparent;
    border-right-color: transparent;
    overflow: hidden;
    border-top-color: transparent;
  }

  .c-border-top {
    border: 1px solid #e4eaec;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    overflow: hidden;
  }

  .no-underline {
    text-decoration: none !important;
  }
</style>

<div class="page-content container-fluid" *ngIf="accounts">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel">
        <div class="panel-body">
          <div class="form-group" style="width: 100%;">
            <div class="input-group">
              <input type="text" [ngModel]="searchText" (ngModelChange)="searchStroke($event)" class="form-control" placeholder="Search...">
            </div>
          </div>
          <accounts-table [accounts]="accounts" [allowSearch]="false"></accounts-table>
        </div>
      </div>
    </div>
  </div>
</div>
