// Variables
// --------------------------
$f7-font-path:        ".";
$f7-font-file:        "framework7";
$f7-font-family:      "Framework7 Icons";
$f7-css-prefix:       f7;
$f7-version:          "0.8.9";

