html {
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 16.1px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  color: rgb(118, 131, 143);
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.571429;
  font-weight: 300;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-top: 0px;
  position: relative;
  text-align: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  padding-top: 0 !important;
}

body:before {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(62, 142, 247);
  background-image: linear-gradient( rgb(62, 142, 247) 0px, rgb(11, 105, 227) 100%);
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  box-sizing: border-box;
  content: "";
  display: block;
  left: 0px;
  position: fixed;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.page {
  height: 100%;
  padding: 0;
  margin: 0 !important;
  text-align: center;
  min-height: calc(100% - 44px);
  position: relative;
}

.page:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.page-content {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: slide-top;
  animation-timing-function: ease-out;
  box-sizing: border-box;
  color: rgb(118, 131, 143);
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 22px;
  max-width: 100%;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  text-align: center;
  text-size-adjust: 100%;
  vertical-align: middle;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.panel {
  width: 400px;
  margin-bottom: 45px;
  background: #fff;
  border-radius: 0.286rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  font-size: 1rem;
  border: 0 solid transparent;
}

.panel-body {
  padding: 50px 40px 40px;
  transition: opacity 0.3s;
  position: relative;
}

.btn {
  margin-bottom: 20px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1.286rem;
  line-height: 1.333333;
  border-radius: 0.286rem;
  transition: border 0.2s linear, color 0.2s linear, width 0.2s linear,
  background-color 0.2s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: pointer;
  padding: 0;
  padding-right: 1rem;
  width: 100%;
  letter-spacing: 0.75px;
}

.btn-tag {
  display: inline-block;
  background-color: rgba(0, 0, 0, .15);
  border-radius: .215rem 0 0 .215rem;
  padding: .715rem 1rem;
  margin-right: .785rem;
}

.btn .icon {
  width: 1em;
  text-align: center;
  margin: -1px 3px 0;
  line-height: inherit;
}

.facebook {
  color: #fff;
  background-color: #3b5998 !important;
}

.facebook .btn-tag {
  text-align: center;
  width: 18px;
}

.google {
  color: #fff;
  background-color: #de472f !important;
}

.patreon {
  color: #fff;
  background-color: #f96854 !important;
}

@media (max-width: 479px) {
  .page-content {
    padding:30px 20px
  }

  .panel {
    width: auto;
    padding: 10px
  }

  .panel .panel-body {
    padding: 35px 25px 35px
  }
}

.login-text {
  margin-top: 0px;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.last {
  margin-bottom:0px;
}
