// Bootstrap's variables
@import 'bootstrap/variables';

// Load mixins
@import 'mixins';

// Load color variables
@import 'vars-color';

// Load social color variables
@import 'vars-social-color';

// Load Bootstrap override variables
@import 'vars-bootstrap';

// Load Site variables
@import 'vars-site';

// Load components variables
@import 'vars-components';

// Load fonts
@import 'fonts/Roboto';

//web icons
@import 'web-icons/variables';

// Load Custom variables
@import 'vars-customs';

// // Reset and dependencies
// // v4-normalize
// @import "bootstrap/normalize";
// // v4-print
// @import "bootstrap/print";
